* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: url('images/stars.jpg');
    color: white;
}


/*Navigation bar*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #4c4747b4;
    color: #fff;
    position: sticky;
    text-align: center;
    top: 0;
}

.star {
    height: 40px;
    width: 40px;
    color:#fff153;
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.navbar-link:hover {
    color: #fff153;
}

.navbar-link a.active {
    color: #ff7853;
}

/*Main Content*/

main {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.space-container {
    font-size: 8px;
    width: 40em;
    height: 40em;
    position: relative;
    background-image: url('images/stars.jpg');
    padding: 0.5em;
}

.sun-img {
    width: 130%;
    height: 130%;
    border-radius: 50%;
}

.sun {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15em;
    left: 15em;
    width: 20em;
    height: 20em;
    border-radius: 50%;
    box-shadow: 0 0 3em 0.5em rgb(255, 128, 0);
    animation: orbit 30s linear infinite;
    
}

.about, .projects, .resume, .other {
    position: absolute;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;
}

.about {
    top: 7.5em;
    left: 7.5em;
    width: 35em;
    height: 35em;
    animation: orbit 30s linear infinite;
    z-index: 4;
}

.projects {
    top: 0em;
    left: 0em;
    width: 50em;
    height: 50em;
    animation: orbit 50s linear infinite;
    z-index: 3;
}

.other {
    top: -5em;
    left: -5em;
    width: 60em;
    height: 60em;
    animation: orbit 60s linear infinite;
    z-index: 2;
}

.resume {
    top: -20em;
    left: -20em;
    width: 90em;
    height: 90em;
    animation: orbit 90s linear infinite;
    z-index: 1;
}

.pdf-img {
    height: 4em;
    width: 4em;
    border-radius: 50%;
    animation: orbit 15s linear infinite;
}

.abt-img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    animation: orbit 15s linear infinite;
}

.proj-img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    animation: orbit 15s linear infinite;
}

.other-img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    animation: orbit 15s linear infinite;
}

@keyframes orbit {
    to{
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 768px) {
    .space-container {
        width: 35em;
        height: 35em;
    }
    .sun {
        top: 5em;
        left: 5em;
        width: 25em;
        height: 25em;
        animation: orbit 20s linear infinite;
    }
    .about {
        top: 0em;
        left: 0em;
        width: 35em;
        height: 35em;
        animation: orbit 30s linear infinite;
    }
    .projects {
        top: -2em;
        left: -2em;
        width: 40em;
        height: 40em;
        animation: orbit 40s linear infinite;
    }
    .other {
        top: -13em;
        left: -13em;
        width: 60em;
        height: 60em;
        animation: orbit 50s linear infinite;
    }
    .resume {
        top: -18em;
        left: -18em;
        width: 70em;
        height: 70em;
        animation: orbit 70s linear infinite;
    }

    .abt-img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        animation: orbit 15s linear infinite;
    }
    
    .proj-img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        animation: orbit 15s linear infinite;
    }
    
    .other-img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        animation: orbit 15s linear infinite;
    }
}

/*About Section*/

.abt-me-container {
    display: inline-block;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    padding: 2em;
}

.abt-me-container li {
    font-size: 0.9em;
    margin: 0.5em;
    font: 'Monaco', monospace;
    list-style: circle;
    margin-left: 2em;    
}

.intro {
    margin: 0.5em 0;
    display: inline-block;
    place-content: center;
    text-align: center;
    position: relative;
    font-size: clamp(2rem, 4vw + 1rem, 4rem);
    position: relative;
    max-width: max-content;
}

.intro::before, .intro::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.intro::before {
    background: black;
    animation: typewriter 4s steps(23) 1s forwards;
}

.intro::after {
    width: 0.1em;
    background: transparent;
    animation: typewriter 4s steps(23) 1s forwards,
    blink 0.6s steps(30) 0s 10;
}

.static {
    display: inline-block;
    color: white;
    font-size: 1.5em;
    font-family: monospace;
    font-size: 2em;
    vertical-align: top;
}

.animate-text {
    position: relative;
    display: inline-block;
    color: white;
    font-size: 1.5em;
    font-family: monospace;
    font-size: 2em;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    left: 10px;
}

.animate-text span {
    position: relative;
}

.animate-text span::before {
    content: "Student";
    color: white;
    animation: write 20s infinite;
}

.animate-text span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background: black;
    border-left:  2px solid white;
    right: -8px;
    animation: typing 20s steps(14) infinite,
    blink2 0.6s steps(20) infinite;
}

@keyframes write {
    0%, 20% {
        content: 'Student.';
        color:darkseagreen;
    }
    21%, 40% {
        content: 'Programmer.';
        color:darkseagreen;
    }
    41%, 60% {
        content: 'Rising Developer.';
        color: darkseagreen;
    }
    61%, 80% {
        content: 'Digital Forensics Enthusiast.';
        color: darkseagreen;
    }
    81%, 100% {
        content: 'Future Innovator.';
        color: darkseagreen;
    }

}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: white;
    }
}

@keyframes blink2 {
    to {
        background: black;
    }
}

@keyframes typing {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: calc(100% + 8px);
    }
}

.pfp-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    animation: orbit 15s linear infinite;
}

.container {
    background-color: #4c4747b4;
    color: white;
    border-radius: 10px;
    padding: 0.5em;
    margin: 1em;
}

/*Footer*/

.footer-container {
    background-color: #4c4747b4;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer-logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.7em;
}

.footer-links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer-links-wrapper {
    display: flex;
}