
/*Navigation bar*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #4c4747b4;
    color: #fff;
    position: sticky;
    text-align: center;
}

.star {
    height: 40px;
    width: 40px;
    color:#fff153;
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.navbar-link:hover {
    color: #fff153;
}

.navbar-link a.active {
    color: #ff7853;
}

/*Main Content*/
main {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('images/stars.jpg');
}

.space-container {
    font-size: 6px;
    width: 40em;
    height: 40em;
    position: relative;
}

img {
    width: 130%;
    height: 130%;
    border-radius: 50%;
}

.sun {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15em;
    left: 15em;
    width: 20em;
    height: 20em;
    border-radius: 50%;
    box-shadow: 0 0 3em rgb(255, 128, 0);
    animation: orbit 40s linear infinite;
}

.about, .projects {
    position: absolute;
    border-style: dotted;
    border-color: white;
    border-width: 0.5em;
    border-radius: 50%;
}

.about {
    top: 10.5em;
    left: 9.5em;
    width: 30em;
    height: 30em;
    animation: orbit 60s linear infinite;
}

.projects {
    top: 0em;
    left: 0em;
    width: 50em;
    height: 50em;
    animation: orbit 40s linear infinite;
}

.about::before, .projects::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    animation: orbit 40s linear infinite;
}

.about::before {
    top: 0.5em;
    right: 3em;
    width: 5em;
    height: 5em;
    background-image: url('images/saturn.jpg');
    background-size: cover;
    pointer-events: auto;
}

.projects::before {
    top: 4em;
    right: 2em;
    width: 8em;
    height: 8em;
    background: url('images/venus.jpg');
    background-size: cover;
    pointer-events: auto;
}

.about::after {
    content: attr(data-info-abt);
}

@keyframes orbit {
    to{
        transform: rotate(360deg);
    }
}


