*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Navigation bar*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #4c4747b4;
    color: #fff;
    position: sticky;
    text-align: center;
}

.star {
    height: 40px;
    width: 40px;
    color:#fff153;
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.navbar-link:hover {
    color: #fff153;
}

.navbar-link a.active {
    color: #ff7853;
}

/*Main Content*/


